*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: sans-serif;
  --ff-secondary: monospace;

  --clr-light: #ffffff;
  --clr-dark: #131313;
  --clr-accent: #126bfe;
  --clr-bg: linear-gradient(#fbff00, #cacaca);

  --fs-h1: 3.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.75rem;
  --fs-body: 1.25rem;
}

/* General styles */
body {
  line-height: 1.5;
  font-family: var(--ff-primary);
  color: var(--clr-dark);
  background: var(--clr-bg);
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
button {
  border: none;
  color: var(--clr-light);
  background: var(--clr-accent);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Layout */
.weather-info {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  color: var(--clr-light);
}

.wrapper {
  height: 550px;
  width: 550px;
  position: relative;
  margin-top: 10px;
  padding: 40px;
  border-radius: 5px;
  background: var(--clr-light);
  transform-style: preserve-3d;
  transition: 0.6s;
}
.wrapper-flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}

/* Front */
.front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.front__form {
  height: 50px;
  margin-bottom: 20px;
}
.form__input,
.form__submit {
  height: 100%;
  font-size: var(--fs-body);
}
.form__input {
  width: 350px;
  padding: 0 10px;
}
.form__input:focus {
  outline: none;
}
.form__submit {
  padding: 5px 20px;
}
.front__img {
  width: 80%;
}

/* Back */
.back {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.back__loading,
.back__error {
  margin: auto;
  font-size: 2.5rem;
  font-weight: 600;
}
.back__info-main {
  margin: 20px 0;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, 50px);
  font-size: 1.75rem;
}
.back__temp {
  font-size: 2.5rem;
}
.back__img {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  grid-row: span 2;
}
.back__info-more {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.info {
  padding: 10px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto 100px;
  grid-template-rows: repeat(2, 30px);
  font-size: 1.5rem;
}
.icon {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  grid-row: span 2;
}
.back__btn {
  margin-top: 5px;
  padding: 7px 30px;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: 0.5s;
}
.back__btn:hover {
  transform: scale(1.1);
}
.back__btn:focus {
  outline: none;
}
